<div class="image">
  <img src="assets/image/epsi.jpg" style="height:200px;">
</div>

<div class="header">
  <h2>Home</h2>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Campus HEP PARIS-La Defense</h2>
      <h5>Le Groupe / Differente Ecoles</h5>
      <div><img src="assets/image/campus-HEP.jpg" style="height:200px;"></div>
      <p><font color="red">Description :</font></p>
      <p>Situé au cœur de la Défense, HEP Campus Paris regroupent 10 écoles franciliennes d'enseignement supérieur.</p>
    </div>
    <div class="card">
      <h2>Groupe EPSI</h2>
      <h5>Tous les EPSI de la France</h5>
      <div><img src="assets/image/carte france epsis.jpg" style="height:400px;"></div>
      <p><font color="red">Description :</font></p>
      <p>loading .</p>
    </div>
    <div class="card">
      <h2>Cursus</h2>
      <h5>Programme B3-I4-I5</h5>
      <div><img src="assets/image/cursus.jpg" style="height:400px;"></div>
      <p><font color="red">Description :</font></p>
      <p>loading .</p>
    </div>
    <div class="card">
      <h2>Alentours</h2>
      <h5>Position / Restaurant / Shopping</h5>
      <div><img src="assets/image/La-Defense.jpg" style="height:200px;"></div>
      <p><font color="red">Description :</font></p>
      <p>Bienvenue dans l'univers EPSI.</p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>Surfez sur l'EPSI PARIS :</h2>

      <app-bouttons></app-bouttons>

    </div>
    <div class="card">
      <h3>Poste Populaire</h3>
      <div class="fakeimg">Campus HEP PARIS-La Defense</div><br>
      <div class="fakeimg">Groupe EPSI</div><br>
      <div class="fakeimg">Cursus</div><br>
      <div class="fakeimg">Alentours</div>
    </div>

    <div class="infoblock">
      <h3><span style="color: white;">vous pouvez nous suivre ici :</span></h3>
    </div>

  </div>
</div>