<div style="text-align:center">
  <h1>
    <font face="URW Chancery L, cursive" size="+4" color="green">Cursus I5</font>
  </h1>
</div>

<div class="container" style="background-color:#80D0D0">
  <div class="row">
    <div class="column-66">
      <h1 class="xlarge-font"><b>I5 :</b></h1>
      <p>En Ingénierie 5ème année, nous retrouvons 3 pôles de compétences : Le pôle de fonction d'encadrement, celui de Méthodes et gestion de projet et enfin celui de Gestion de données & Business Intelligence. Dans les parcours complémentaire, où l'on doit choisir un des thèmes, on retrouve les parcours "Management du Cloud computing", "Big data & l'internet des objets", "Management des environnements nomades" et "Management de la sécurité informatique". Il faudrat aussi choisir un parcour Métier, directement en rapport avec votre stage/alternance, il faudrat donc décider entre les parcours "Etudes & developpement", "Infrastructures systèmes & Réseaux& et "Management et conseil ERP".
      A la fin de cette année, il sera possible d'acquérir un Titre RNCP niveau 1 : "Expert en Informatique et système d'information". Pour cela, il faudrat valider tout les blocs de compétences ainsi que rendre un mémoire d'alternance/stage qui sera valdié par un jury de professionnels.</p>
    </div>
  </div>
</div>