<div style="text-align:center">
  <h1>
    <font face="URW Chancery L, cursive" size="+4" color="green">Partenaire du Campus</font>
  </h1>
</div>

<div class="container" style="background-color:#80D0D0">
  <div class="row">
    <div class="column-66">
      <h1 class="xlarge-font"><b>3A</b></h1>
      <h1 class="large-font" style="color:MediumSeaGreen;"><b>Description</b></h1>
      <p><span style="font-size:36px">L’Ecole 3A</span> s’attache à préparer les étudiants à communiquer dans un environnement
      international
      et pluriculturel, à entreprendre et négocier dans tous les pays, tout en appréhendant
      l’environnement économique, social et culturel local.
      L’Ecole 3A forme en 3 ou 5 ans des entrepreneurs engagés capables de proposer des solutions
      innovantes,
      rentables et pérennes pour répondre aux enjeux sociaux et environnementaux.
      Au-delà des métiers de l’humanitaire, l’école forme des jeunes proactifs,
      à la recherche d’une économie positive, ayant le goût des challenges et la culture projet : des
      entrepreneurs au sens large du terme.
      Première école à montrer et à défendre l’évidence du lien entre commerce
      et développement, 3A bénéficie d’une expertise de plus de 30 ans dans les domaines de la
      solidarité, de l’économie « autrement »,
      et du développement des pays émergents : Afrique, Amérique Latine, Asie.
      Alors que les différents secteurs de l’économie se décloisonnent et
      multiplient les interactions, les organisations cherchent des managers impactants, engagés,
      capables de s’adapter aux différents secteurs d’activités.
      Au-delà des savoirs, l’École 3A apporte à chaque étudiant les savoir-faire et les savoir-être,
      recherchés par les entreprises et les organisations. Au service du projet de chaque étudiant,
      l’École 3A met tout en œuvre pour que leur carrière professionnelle soit compatible avec leurs
      idéaux et leur quête de sens.</p>
    </div>
    <div class="column-33">
        <img src="assets/imagePartenaire/3A.jpg" width="335" height="471">
    </div>
  </div>
</div><br>

<div class="container" style="background-color:#ED7F10">
  <div class="row">
    <div class="column-33">
      <img src="assets/imagePartenaire/idrac_logo.jpg" width="335" height="471">
    </div>
    <div class="column-66">
      <h1 class="xlarge-font"><b>IDRAC Business School</b></h1>
      <h1 class="large-font" style="color:red;"><b>Description</b></h1>
      <p>Créée pour proposer une alternative aux modèles élitistes traditionnels,<span style="font-size:24px">
      IDRAC Business School</span> est une école de commerce fondée sur une profonde conviction
      humaniste
      et cherche à toujours valoriser les forces et les qualités personnelles de ses étudiants et
      apprenants.
      Implantée au cœur des territoires en France comme à l’international,
      IDRAC Business School implique les acteurs économiques locaux dans sa pédagogie et sa
      recherche qui nourrissent
      une offre de formations allant du Post-Bac au Bac+5 et à la formation continue.
      IDRAC Business School répond ainsi aux besoins des entreprises en matière de compétences
      professionnelles
      et managériales et contribue au développement économique en anticipant les tendances et les
      évolutions du commerce et de ses acteurs.</p>
    </div>
  </div>
</div><br>

<div class="container" style="background-color:#80D0D0">
  <div class="row">
    <div class="column-66">
      <h1 class="xlarge-font"><b>IEFT</b></h1>
      <h1 class="large-font" style="color:MediumSeaGreen;"><b>Description</b></h1>
      <p>Caractérisée par son implantation multi-campus,<span style="font-size:36px">
      l’IEFT</span> contribue activement au développement des métiers touristiques depuis plus de 25 ans.
      La vocation de l’IEFT est de préparer les étudiants
      à devenir des acteurs majeurs dans un
      environnement par nature international, multiculturel et évolutif. Le secteur du tourisme
      bouge et évolue à grande vitesse.
      La vocation de l’IEFT est de préparer les étudiants à devenir des acteurs majeurs
      dans un environnement par nature international, multiculturel et évolutif.
      L’école offre à ses étudiants un cursus en rythme alterné professionnalisant
      (périodes d’immersion en entreprise et/ou stages de 4 à 6 mois).
      La pédagogie de l’école vise à développer aussi bien les compétences incontournables
      (e-marketing, production, culture générale, langues) que les aptitudes professionnelles qui
      assurent l’employabilité.
      Notre pédagogie favorise l’expression des talents et des personnalités.
      Les moments forts tels que les conférences sectorielles, les témoignages métiers,
      les workshops professionnels et la mission de consulting rythment la vie académique des
      étudiants sur l’ensemble des campus
      où l’engagement dans de nombreux projets associatifs favorise également l’apprentissage en
      mode projets.</p>
    </div>
    <div class="column-33">
        <img src="assets/imagePartenaire/IEFT.jpg" width="335" height="471">
    </div>
  </div>
</div><br>

<div class="container" style="background-color:#ED7F10">
  <div class="row">
    <div class="column-33">
      <img src="assets/imagePartenaire/Ifag.jpg" width="335" height="471">
    </div>
    <div class="column-66">
      <h1 class="xlarge-font"><b>IFAG</b></h1>
      <h1 class="large-font" style="color:red;"><b>Description</b></h1>
      <p><span style="font-size:24px">L’IFAG</span> est une école de management et d’entrepreneuriat installée dans 16 campus
      (15 villes de Métropole et 1 ville d’Outre-Mer).
      Elle forme les créateurs et repreneurs d’entreprises
      ainsi que tous ceux qui souhaitent occuper une fonction de direction.
      L’Ecole de management propose un cursus en 5 ans post-bac :
      Un Bachelor IFAG (Bac +3) « Responsable Opérationnel d’Activité»
      Le Titre de l’IFAG, certifié Niveau II «Responsable Opérationnel d’Activité »
      délivré par l’IFAG, (Code RNCP 29821)
      Un Titre (Bac+5) « Manager d’Entreprise ou de Centre de Profit »
      «Le titre Manager d’Entreprise ou de Centre de Profit – Titre de niveau I, certifié par l’état
      (Code NSF 310 m)<br>
      par arrêté du 15 décembre 2016 portant l’enregistrement au répertoire national des
      certifications professionnelles (RNCP)
      , publié au Journal Officiel du 18 décembre 2016. ».</p>
    </div>
  </div>
</div><br>

<div class="container" style="background-color:#80D0D0">
  <div class="row">
    <div class="column-66">
      <h1 class="xlarge-font"><b>ILERI</b></h1>
      <h1 class="large-font" style="color:MediumSeaGreen;"><b>Description</b></h1>
      <p>Notre institut a fait des Relations Internationales l’articulation essentielle de sa
      mission : transmettre le savoir en refusant la simplicité, sinon le simplisme, d’autres
      acteurs dans cette discipline, mais en rendant l’enseignement de cette matière
      encore plus difficile.
      C’est pour cela que je tenais à exprimer l’honneur que je ressens de présider aux
      destinées de cet établissement et mon estime aux professeurs qui n’ont pas perdu la
      foi dans ce chaos qu’ils doivent simplifier aux oreilles de leurs étudiants et enfin aux
      étudiants eux-mêmes, qui cherchent encore et toujours à comprendre ce qui se
      passe réellement dans ce vaste monde que nous allons laisser en héritage à nos
      enfants. institut a fait des Relations Internationales l’articulation essentielle de sa
      mission : transmettre le savoir en refusant la simplicité, sinon le simplisme, d’autres
      acteurs dans cette discipline, mais en rendant l’enseignement de cette matière
      encore plus difficile.
      C’est pour cela que je tenais à exprimer l’honneur que je ressens de présider aux
      destinées de cet établissement et mon estime aux professeurs qui n’ont pas perdu la
      foi dans ce chaos qu’ils doivent simplifier aux oreilles de leurs étudiants et enfin aux
      étudiants eux-mêmes, qui cherchent encore et toujours à comprendre ce qui se
      passe réellement dans ce vaste monde que nous allons laisser en héritage à nos
      enfants.</p>
    </div>
    <div class="column-33">
        <img src="assets/imagePartenaire/ILERI.jpg" width="335" height="471">
    </div>
  </div>
</div><br>

<div class="container" style="background-color:#ED7F10">
  <div class="row">
    <div class="column-33">
      <img src="assets/imagePartenaire/sup-de-com.jpg" width="335" height="471">
    </div>
    <div class="column-66">
      <h1 class="xlarge-font"><b>Sup' de Com</b></h1>
      <h1 class="large-font" style="color:red;"><b>Description</b></h1>
      <p>Le secteur de la communication est un secteur en évolution constante.
      Les raisons en sont multiples : le poids grandissant des technologies et d’internet,
      les modifications du comportement du consommateur à la recherche de nouvelles valeurs,
      la prise en considération, par les entreprises, de leur responsabilité sociétale.
      Tous ces facteurs se conjuguent et font bouger les lignes.
      L’Ecole de communication SUP’DE COM a été créée en 1985.
      Forte de ses 33 années d’expérience, elle offre un cadre structurant autour d’un projet
      pédagogique innovant.
      Tous les programmes de formation sont validés par un Diplôme d’Etat (BTS Communication)
      ou par un Titre enregistré au Répertoire National des Certifications Professionnelles par arrêté
      du 08/12/2017 Publié au JO du 21/12/2017
      pour le Bachelor Responsable de Communication (Bac+3) et le Titre « Manager de la
      Stratégie Commerciale et Marketing »
      certifié de Niveau I (Fr) et de Niveau 7 (Eu) Code NSF 310p.
      Enregistré au RNCP par arrêté du 17 mai 2018 publié au Journal Officiel du 24 mai 2018.
      Délivré par AIPF (Association Internationale Pour la Formation).
      Un parcours de formation évolutif qui vous ouvrira les portes des postes à responsabilité
      en agence ou dans les services de communication.
      SUP’DE COM est une école de communication en réseau.
      Avec ses 10 campus, c’est la 1ère école de communication.
      C’est pour vous l’assurance de la proximité.</p>
    </div>
  </div>
</div><br>

<div class="container" style="background-color:#80D0D0">
  <div class="row">
    <div class="column-66">
      <h1 class="xlarge-font"><b>IGEFI</b></h1>
      <h1 class="large-font" style="color:MediumSeaGreen;"><b>Description</b></h1>
      <p>L’IGEFI est l’école de la comptabilité, de la gestion, de la finance, de la paie et de la gestion
      sociale.
      Ces métiers sont les supports indispensables à toutes les entreprises et à leur stratégie,
      dans un environnement national ou international.
      L’IGEFI,
      Une vocation : vous écouter, vous accompagner, vous former.
      Un objectif : Que vous soyez créateur de votre vie, avec intelligence, avec curiosité, avec
      rigueur et professionnalisme.
      À l’IGEFI, nous mettons tout en œuvre pour vous montrer l’exemple
      et vous accompagner sur le chemin de vos ambitions :
      Votre passé d’étudiant et votre expérience nous intéressent:
      nous pouvons vous proposer des parcours adaptés, individualisés qui les prennent en compte.
      Vos projets deviennent les nôtres :
      nous vous accompagnons pour vous aider à les préciser,
      les enrichir, à les faire évoluer.
      Votre insertion professionnelle est prioritaire les entreprises
      sont nos partenaires privilégiés tant pour vous accueillir en stage ou en alternance
      que pour faire évoluer nos programmes en adéquation avec les compétences qu’elles
      recherchent.
      Diplômés de l’IGEFI
      : votre accompagnement, vos témoignages et votre carrière
      contribueront au rayonnement du réseau de nos anciens, votre réseau.</p>
    </div>
    <div class="column-33">
        <img src="assets/imagePartenaire/IGEFI.jpg" width="335" height="471">
    </div>
  </div>
</div><br>

<div class="container" style="background-color:#ED7F10">
  <div class="row">
    <div class="column-33">
      <img src="assets/imagePartenaire/ihedrea.jpg" width="335" height="471">
    </div>
    <div class="column-66">
      <h1 class="xlarge-font"><b>IHEDREA</b></h1>
      <h1 class="large-font" style="color:red;"><b>Description</b></h1>
      <p><span style="font-size:24px">L’IHEDREA</span> est la seule école de management dédiée aux métiers de l’agriculture,
      de la ruralité, de l’agro-alimentaire et du développement des territoires.
      En soi, cette raison d’être, ouvrir aux métiers de ce vaste univers professionnel,
      suffit à donner envie aux étudiants de venir préparer nos diplômes reconnus par l’État,
      aux niveaux bac+4 et bac+5.
      Un corps professoral d’experts, pour la plupart engagés dans les entreprises et les institutions
      du secteur,
      des programmes en phase avec les besoins en compétences et ajustés en permanence grâce à
      un Conseil scientifique
      et un Conseil stratégique de haut niveau, voilà ce qu’offre l’IHEDREA depuis près de
      soixante-dix ans.<br>
      Pourtant, l’âme de l’école est ailleurs:
      elle lie à jamais les femmes et les hommes qui y entrent à l’essentiel:
      la terre et les territoires.
      On sait désormais que là est la clé de l’avenir du monde,
      sa capacité à mobiliser ses ressources de façon durable pour l’humanité,
      son aptitude aussi à valoriser ses identités et ses richesses territoriales.
      C’est cette relation à un référent à la fois éternel et moderne qui fait de l’IHEDREA un lieu
      d’épanouissement des personnalités,
      où se construit le sentiment de s’occuper de l’indispensable et de se préparer à accomplir des
      missions vitales.</p>
    </div>
  </div>
</div><br>

<div class="container" style="background-color:#80D0D0">
  <div class="row">
    <div class="column-66">
      <h1 class="xlarge-font"><b>Open Source School</b></h1>
      <h1 class="large-font" style="color:MediumSeaGreen;"><b>Description</b></h1>
      <p><span style="font-size:36px">Open Source School</span> est le premier centre de formation dédié aux technologies open source.
      Fondé par Smile, leader européen de l’intégration et de l’infogérance open source,
      et par l’EPSI, établissement privé pionnier de l’enseignement supérieur en informatique,
      Open Source School a une double vocation de formation initiale et de formation continue
      pour adultes :
      La formation initiale 100% logiciels libres,
      s’appuyant sur l’expertise pédagogique de l’EPSI, 100% en alternance,
      accessible post-Bac+2. Cette formation délivre un titre de niveau I enregistré au RNCP
      (bac+5, plus haut niveau de certification), Expert en Informatique et Système d’Information
      de l’EPSI.
      Ce programme unique Bac+5 est proposé dans 6 campus
      à Bordeaux, Lille, Lyon, Montpellier, Nantes, Paris. Open Source School « Executive
      Education »,
      organisme de formation proposant un catalogue de plus de 200 formations professionnelles
      et différents dispositifs de reconversion permettant le retour à l’emploi (POE)
      ou une meilleure employabilité pour de nombreux professionnels de l’informatique.</p>
    </div>
    <div class="column-33">
        <img src="assets/imagePartenaire/OSS.jpg" width="335" height="471">
    </div>
  </div>
</div><br>

<div class="container" style="background-color:#ED7F10">
  <div class="row">
    <div class="column-33">
      <img src="assets/imagePartenaire/EPSI.jpg" width="335" height="471">
    </div>
    <div class="column-66">
      <h1 class="xlarge-font"><b>EPSI</b></h1>
      <h1 class="large-font" style="color:red;"><b>Description</b></h1>
      <p><span style="font-size:24px">Première école d’informatique en France avoir été créée par des professionnels</span>,
      première à avoir obtenu le titre niveau I RNCP (Bac+5 certifié par l’État) et résolument
      engagée auprès des entreprises,
      l’EPSI accompagne le développement des compétences informatiques depuis plus de 55 ans.
      Elle le fait en partageant avec ses étudiants et diplômés des valeurs et attitudes fortes
      : s’épanouir, être ouvert sur le monde, être responsable et solidaire,
      être en prise avec la réalité des entreprises, oser, innover, entreprendre.
      l’EPSI est à l’initiative de la création de l’école du web
      WIS Web International School et de l’école 100% open source OSS – Open Source School</p>
    </div>
  </div>
</div>