<div style="text-align:center">
  <h1>
    <font face="URW Chancery L, cursive" size="+4" color="green">Cursus B3</font>
  </h1>
</div>

<div class="container" style="background-color:#80D0D0">
  <div class="row">
    <div class="column-66">
      <h1 class="xlarge-font"><b>B3 :</b></h1>
      <p>En Bachelor 3ème année, les principaux pôles abordées sont le développement d'applications, administration système et réseaux, la gestion de données, les méthodes et gestion de projet, la communication.
      En aval de tout ça, on retrouve le parcours complémentaire, où l'on choisit si on prefère étudié la sécurité informatique,la virtualisation ou les données et objets connectées. On a aussi le parcours métiers, qui sera directement lié à l'alternance ou au stage de l'étudiant, qui sera donc soit relié à la conception de solutions applicatives ou à la conception de solutions d'infrastructures.
      A la fin de ce B3, on peut obtenir le titre délivré par l'epsi : Concepteur intégrateur DEVOPS. On peut aussi passé le titre d'Administrateur Système Réseaux et Bases de Données" ou le titre de "Concepteur développeur informatique" en fonction du parcours métiers, qui sont 2 titres RNCP niveau 2. Pour cela, il faudrat valider tout les blocs de compétences ainsi que rendre un mémoire d'alternance/stage qui sera valdié par un jury de professionnels.</p>
    </div>
  </div>
</div>