<div style="text-align:center">
  <h1>
    <font face="URW Chancery L, cursive" size="+4" color="green">Ensemble des Groupes EPSI</font>
  </h1>
</div><br>

<div class="container" style="background-color:#80D0D0">
  <div class="row">
    <div class="column-66">
      <h1 class="xlarge-font"><b>L'EPSI d'Arras</b></h1>
      <h1 class="large-font" style="color:MediumSeaGreen;"><b>Description</b></h1>
      <p><span style="font-size:36px">L'EPSI d'arras a ouvert en 1987</span>. Elle est situé à 5 minutes à pieds de la gare, très proche donc du centre-ville.
	  L'emplacement est prévu pour permettre aux étudiants une vie agréable au sein du campus.
	  On retrouve au sein du campus des salles d'informatiques, des salles de cours, des salles serveurs et réseaux, 1 salle de conférences de 100 places avec des tableaux blancs interactifs, le système de visioconférence Polycom permettant aux 9 capus EPSI d'intéragir, des salles pour les associations et 1 espace détente comprenant un babyfoot, une projection ciné...</p>
    </div>
    <div class="column-33">
        <img src="assets/image/heparras.jpg" width="335" height="471">
    </div>
  </div>
</div><br>

<div class="container" style="background-color:#ED7F10">
  <div class="row">
    <div class="column-33">
      <img src="assets/image/hepbdx.jpg" width="335" height="471">
    </div>
    <div class="column-66">
      <h1 class="xlarge-font"><b>EPSI de Bordeaux</b></h1>
      <h1 class="large-font" style="color:red;"><b>Description</b></h1>
      <p><span style="font-size:24px">L'EPSI de bordeaux à ouvert pour la première fois en 1981</span> , puis a changé d'emplacement en 2015, au sein d'un campus hyper-connecté construit cette même année. 
	  Ce campus est situé au coeur de la ville et est le nouveau pôle technologique et culturel de la ville.
	  Sur ce campus d'une surface de 2000m², on retrouve des salles de cours modulables, 4 learning-labs, un espace de co-working, des salles informatiques, un espace de restauration et des espaces partagés de travail et de vie...</p>
    </div>
  </div>
</div><br>

<div class="container" style="background-color:#80D0D0">
  <div class="row">
    <div class="column-66">
      <h1 class="xlarge-font"><b>L'EPSI de Brest</b></h1>
      <h1 class="large-font" style="color:MediumSeaGreen;"><b>Description</b></h1>
      <p><span style="font-size:36px">L'EPSI de Brest a ouvert en septembre 2016</span>, au coeur d'un pôle d'entreprise, idéal pour les alternants, au sein du Brest Open Campus. 
	  Ce campus est à mi-chemin entre Brest et l'aéroport, et est très accessible en voiture comme en transport en commun.
	  Sur un espace de 3000m², pour 6000m² d'infrastructure, on retrouve un open café de 300m², 700m² d'espace de co-working, une médiathèque de 250m², 3 open labs (Techlab, Businesslab et Studiolab), 1 appleroom, 3 Open classrooms, 1 Open incubateur...</p>
    </div>
    <div class="column-33">
        <img src="assets/image/hepbrest.jpg" width="335" height="471" >
    </div>
  </div>
</div><br>

<div class="container" style="background-color:#ED7F10">
  <div class="row">
    <div class="column-33">
      <img src="assets/image/hepgrenoble.jpg" width="335" height="471">
    </div>
    <div class="column-66">
      <h1 class="xlarge-font"><b>L'EPSI Grenoble</b></h1>
      <h1 class="large-font" style="color:red;"><b>Description</b></h1>
      <p>L'EPSI Grenoble est très proche de grenoble dans la ville de Grière.
	  Le campus est accessible par le train car très proche de la gare, mais aussi par le tram. On peut aussi aisement venir en voiture avec un parking à 3minutes de l'école.
	  Sur le campus de plus de 2000m², on retrouve des salles informatiques, des salles de TP réseaux, des salles de cours, une salle de conférence, le système de visio-conférence Polycom, un espace de restauration avec terrasse, des locaux associatifs, un incubateur entreprise...</p>
    </div>
  </div>
</div><br>

<div class="container" style="background-color:#80D0D0">
  <div class="row">
    <div class="column-66">
      <h1 class="xlarge-font"><b>L'EPSI Lille</b></h1>
      <h1 class="large-font" style="color:MediumSeaGreen;"><b>Description</b></h1>
      <p>L'EPSI Lille est un campus récent, situé en plein centre-ville, à 10 minutes à pieds de la gare Lille Flandres.
	  Sur le campus on retrouve, un incubateur d'entreprises, des espaces de co-working, un laboratoire MyDil...</p>
    </div>
    <div class="column-33">
        <img src="assets/image/heplille.jpg" width="335" height="471">
    </div>
  </div>
</div><br>

<div class="container" style="background-color:#ED7F10">
  <div class="row">
    <div class="column-33">
      <img src="assets/image/heplyon.jpg" width="335" height="471">
    </div>
    <div class="column-66">
      <h1 class="xlarge-font"><b>L'EPSI de Lyon</b></h1>
      <h1 class="large-font" style="color:red;"><b>Description</b></h1>
      <p>L'EPSI de Lyon à rejoint le campus HEP Lyon-René Cassin qui accueille plus de 5500 étudiants/apprentis, situé au sein de Lyon.
	  Sur ce campus de près de 15000m², on retrouve une grande infothèque, un centre de ressources multimédia, un amphithéâtre de 300 places, un open cagé avec terrasse...</p>
    </div>
  </div>
</div><br>

<div class="container" style="background-color:#80D0D0">
  <div class="row">
    <div class="column-66">
      <h1 class="xlarge-font"><b>L'EPSI de Montpellier</b></h1>
      <h1 class="large-font" style="color:MediumSeaGreen;"><b>Description</b></h1>
      <p>L'EPSI de Montpellier et situé sur le campus HEP Montpellier Apothicaire, idéalemment placé dans la ville.
	  Au sein du campus de plus de 2500m² sur deux batiments, on retrouve des salles équipées de tables connectées, un laboratoire MyDil, un laboratoire Réseaux, un espace de détente et de restauration, un espace de co-working...</p>
    </div>
    <div class="column-33">
        <img src="assets/image/heplyon.jpg" width="335" height="471">
    </div>
  </div>
</div><br>

<div class="container" style="background-color:#ED7F10">
  <div class="row">
    <div class="column-33">
      <img src="assets/image/hepnantes.jpg" width="335" height="471">
    </div>
    <div class="column-66">
      <h1 class="xlarge-font"><b>L'EPSI de Nantes</b></h1>
      <h1 class="large-font" style="color:red;"><b>Description</b></h1>
      <p><span style="font-size:24px">L'EPSI Nantes a ouvert pour la première fois en 2002 </span>. Il a récemment déménagé pour changer de campus en décembre 2017. Le campus est idéalement situé et très accessible.
	  Au sein du campus, on retrouve un espace de co-working, un espace de détente, une cafétéria, des salles tout équipées...</p>
    </div>
  </div>
</div><br>

<div class="container" style="background-color:#80D0D0">
  <div class="row">
    <div class="column-66">
      <h1 class="xlarge-font"><b>L'ESPI de Paris</b></h1>
      <h1 class="large-font" style="color:MediumSeaGreen;"><b>Description</b></h1>
      <p><span style="font-size:36px">L'ESPI Paris a ouvert pour la première fois en 1951</span>. L'école a longtemps été sur 2 campus (AUFAN et CHASSEURS) pour être depuis 2017 sur le campus de la Défense. Le campus est idéalement situé car très accesible en transport en commun.
	  Au sein du campus, on retrouve des salles tout équipées, des espaces de détentes, une cafétéria, un incubateur, une salle Bac à sable (laboratoire réseau)...</p>
    </div>
    <div class="column-33">
        <img src="assets/image/hepparisdef.jpg" width="335" height="471">
    </div>
  </div>
</div>