<div style="text-align:center">
  <h1>
    <font face="URW Chancery L, cursive" size="+4" color="green">Cursus I4</font>
  </h1>
</div>

<div class="container" style="background-color:#ED7F10">
  <div class="row">
    <div class="column-66">
      <h1 class="xlarge-font"><b>I4 :</b></h1>
      <p>En Ingénierie 4ème année, les 5 pôles de compétences obligatoires sont les pôles de fonction d'encadrement (stratégie financière, communication, etc..), de méthodes et de gestion de projet, de gestion de données et de business intelligence, d'études et développement, et d'infrastructure système&réseaux. Dans les parcours complémentaire, où l'on doit choisir un des thèmes, il est possible de choisir entre le parcour Réseaux et Système, le parcours Sécurité et système d'information, et le parcous Business Intelligence et Big Data.</p>
    </div>
  </div>
</div>