<div style="text-align:center">
  <h1>
    <font face="URW Chancery L, cursive" size="+4" color="green">Campus HEP</font>
  </h1>
</div>

<div class="container">
  <div class="row">
    <div class="column-66">
      <h1 class="xlarge-font" ><font color="#2C75FF"><b>Description:</b></font></h1>
      <p><font color="#ED7F10">HEP EDUCATION est une collective née le 1er décembre 2014 de la volonté de plusieurs écoles et centres
      de formation de se rassembler pour définir les fondements d’une pédagogie par les valeurs – Humanisme
      Entrepreneuriat Professionnalisme – et pour imaginer ensemble le nouveau modèle éducatif de demain.
      HEP EDUCATION regroupe aujourd’hui 35 écoles et centres de formation issus du Groupe IGS et
      du Réseau Compétences & Développement – acteurs majeurs de l’enseignement supérieur indépendant –
      partageant une vision commune : celle d’une éducation fondée sur 3 valeurs – Humanisme Entrepreneuriat
      Professionnalisme – et sur une pédagogie de l’encouragement et de l’accompagnement.
      Implantés sur plus de 25 campus en France et 7 à l’étranger, les membres de la Collective HEP
      EDUCATION se sont donnés pour vocation de faire de leurs apprenants, des femmes et des hommes
      accomplis qui prennent leur avenir en main.
      HEP EDUCATION, en partenariat avec des entreprises, des associations professionnelles et des acteurs de
      la société civile visent à formaliser le premier label international qui attestera d’une éducation
      professionnelle fondée sur des valeurs humanistes traduites en pédagogie et en un engagement pour
      l’emploi.
      La Collective HEP EDUCATION c’est aussi un enseignement et un programme d’engagements et de
      services qui répondent aux 3 valeurs – Humanisme Entrepreneuriat Professionnalisme –  et qui bénéficient
      à l’ensemble de ses parties prenantes : apprenants, entreprises et institutions, collaborateurs..</font></p>
    </div>
    <div class="column-33">
        <img src="assets/image/campus-HEP.jpg" width="435" height="571">
    </div>
  </div>
</div>